<!doctype html>
<html>
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="stylesheet" href="/public/css/compare.css">
    <script type="text/javascript">
      const pos = {{pos}};
      const next_pos = {{next_pos}};
      const start_time = {{start_time}};

      function are_equal(does_match) {
        const xhttp = new XMLHttpRequest();
        xhttp.onload = function() {
          if (this.responseText == "OK") {
            document.location = "/qa/compare/" + next_pos;
          } else {
            alert("There was an error trying to apply the match");
          }
        };
        xhttp.open("POST", "/qa/compare/" + pos + "/apply", true);
        xhttp.setRequestHeader("Content-type", "application/json");
        xhttp.send(JSON.stringify({
          "approved": does_match,
          "time": start_time
        }));
      }
    </script>
  </head>
  <body>
    <div class="main">
      <div class="wrapper">
        <div>
          <h1>Compare</h1>
          <div class="data summary">
            <div class="product prod-a">
              <div>
                <div class="prod-img">
                  <img src="{{data["dh_img_url"]}}">
                </div>
                <h2 title="{{data["dh_product_name"]}}">{{data["dh_product_name"]}}</h2>
                <div class="extra-data">
                  <span class="title">Price</span>
                  {{data["match_price"]}}
                  <span class="title"></span>
                  <span class="title"></span>
                  <span class="title"></span>
                  <span class="title"></span>
                </div>
              </div>
            </div>
            <div class="product prod-b">
              <div>
                <div class="prod-img">
                  <img src="{{data["image_url"]}}">
                </div>
                <h2 title="{{data["match_product_name"]}}">{{data["match_product_name"]}}</h2>
                <div class="extra-data">
                  <span class="title"></span>
                  <span class="title"></span>
                  <span class="title"></span>
                  <span class="title"></span>
                  <span class="title"></span>
                </div>
              </div>
            </div>
          </div>
          <div class="options">
            <a href="javascript:are_equal(true);" class="button yes">
              YES
            </a>
            <span class="decision">
            Are the same?
            </span>
            <a href="javascript:are_equal(false)" class="button no">
              NO
            </a>
          </div>
        </div>
      </div>
    </div>
  </body>
</html>
