<!doctype html>
<html>
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="stylesheet" href="/public/css/compare.css">

    <script type="text/javascript">
      const pos = {{pos}}n;
      const next_pos = {{next_pos}}n;
      const start_time = {{start_time}}n;
      const comments_limit = {{comments_limit}};

      function areEqual(does_match, skip) {
        const xhttp = new XMLHttpRequest();
        xhttp.onload = function() {
          if (this.responseText === "OK") {
            document.location = "/qa/compare/" + next_pos;
          } else {
            alert("There was an error trying to apply the match");
          }
        };
        xhttp.open("POST", "/qa/compare/" + pos + "/apply", true);
        xhttp.setRequestHeader("Content-type", "application/json");
        xhttp.send(JSON.stringify({
          "approved": does_match,
          "skip": skip,
          "time": start_time,
          "pos": pos,
          "comments": document.getElementById("comments").value.substring(0, comments_limit)})
        }));
      }

      function approve() { areEqual(true, false); }
      function reject() { areEqual(false, false); }
      function skip() { areEqual(false, true); }

      function toggleShowMore() {
        const body = document.getElementsByTagName('body')[0];
        body.classList.toggle("hidden");
      }

      function togglePauseResume() {
        const body = document.getElementsByTagName('body')[0];

        // paused action is triggered when body doesn't have "paused" class
        if (!body.classList.contains("paused")) {
          body.classList.add("paused");
          return;
        }

        // trigger resume action
        const xhttp = new XMLHttpRequest();
        xhttp.onload = function() {
          if (/^[0-9]+$/.test(this.responseText)) {
            start_time = BigInt(this.responseText);
            body.classList.remove("paused");
          } else {
            alert("There was an error trying to resume");
          }
        };
        xhttp.open("GET", "/qa/timestamp", true);
        xhttp.send();
      }
    </script>
  </head>
  <body class="show_more hidden">
    <!-- flash is used for messages like "Indexing..." -->
    <div class="flash hidden"></div>
    <div class="pause_blocker"></div>
    <div class="actions">
      <a class="pause" href="javascript:togglePauseResume();">
        <span class="resume">Pause</span>
        <span class="paused">Resume</span>
      </a>
    </div>

    <div class="main">
      <div class="wrapper">
        <div>
          <h1><img src="/public/images/logo.png" />Compare</h1>
          <div class="data">
            <div class="spacer a"></div>
            <div class="spacer b"></div>
            <div class="product">
              <div class="img">
                <div class="a">
                  <img src="{{data[ui_config.image_url.a]}}">
                </div>
                <div class="b">
                  <img src="{{data[ui_config.image_url.b]}}">
                </div>
              </div>
              <div class="name">
                <h2 class="a" title="{{data[ui_config.product_name.a]}}">
                  <span>{{data[ui_config.product_name.a]|diff_single(before = data[ui_config.product_name.b])}}</span>
                </h2>
                <h2 class="b" title="{{data[ui_config.product_name.b]}}">
                  <span>{{data[ui_config.product_name.b]|diff_single(before = data[ui_config.product_name.a])}}</span>
                </h2>
              </div>
              <div class="extra-data">
                <div class="a">
                  <div>
                    {% for data_config in ui_config.data %}
                      <div {% if data_config.show_more %}class="show_more_data"{% endif %}>
                        <div class="title">{{data_config.label}}</div>
                        <div class="value">
                          {% if data_config.no_diff %}
                            {% if data_config.a %}
                              {{data[data_config.a]}}
                            {% endif %}
                          {% else %}
                            {% if data_config.a and data_config.b %}
                              {{data[data_config.a]|diff_single(before = data[data_config.b])}}
                            {% else %}
                              {% if data_config.a %}
                                {{data[data_config.a]|diff_single(before = "")}}
                              {% endif %}
                            {% endif %}
                          {% endif %}
                        </div>
                      </div>
                    {% endfor %}
                  </div>
                </div>
                <div class="b">
                  <div>
                    {% for data_config in ui_config.data %}
                      <div {% if data_config.show_more %}class="show_more_data"{% endif %}>
                        <div class="title">{{data_config.label}}</div>
                        <div class="value">
                          {% if data_config.no_diff %}
                            {% if data_config.b %}
                              {{data[data_config.b]}}
                            {% endif %}
                          {% else %}
                            {% if data_config.a and data_config.b %}
                              {{data[data_config.b]|diff_single(before = data[data_config.a])}}
                            {% else %}
                              {% if data_config.b %}
                                {{data[data_config.b]|diff_single(before = "")}}
                              {% endif %}
                            {% endif %}
                          {% endif %}
                        </div>
                      </div>
                    {% endfor %}
                  </div>
                </div>
              </div>
              <div class="comments">
                <label for="comments">Comments</label>
                <textarea id="comments" name="comments" rows="2" cols="50" maxlength="100"></textarea>
              </div>
            </div>
          </div>
          <div class="options">
            <a href="javascript:approve();" class="button yes">
              YES
            </a>
            <span class="decision">
              <a href="javascript:toggleShowMore();" class="show_more_trigger">
                <span class="less">&uarr;show less;&uarr;</span>
                <span class="more">&darr;show more&darr;</span>
              </a>
              Are the same?
            </span>
            <a href="javascript:reject();" class="button no">
              NO
            </a>
            <a href="javascript:skip();" class="button skip">
              SKIP
            </a>
          </div>
        </div>
      </div>
    </div>

    <script type="text/javascript" src="/public/js/check_indexing.js"></script>
  </body>
</html>
