<!doctype html>
<html>
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="stylesheet" href="/public/css/base.css">
    <link rel="stylesheet" href="/public/css/home.css">
  </head>
  <body>
    <!-- flash is used for messages like "Indexing..." -->
    <div class="flash hidden"></div>

    <div class="main">
      <div class="wrapper">
        <div>
          <div>
            <img src="/public/images/logo.png" class="logo" alt="Datahen Canada Inc." />
          </div>
          <h1>Paused</h1>
          <div class="description">Press resume to continue...</div>
          <div class="options">
            <a href="/qa/compare/{{index}}" class="button">
              RESUME
            </a>
          </div>
        </div>
      </div>
    </div>

    <script type="text/javascript" src="/public/js/check_indexing.js"></script>
  </body>
</html>
