* {
    color: #333;
    transition-duration: 0.5s;
}

html, body {
    height: 100%;
}

.main {
    height: 100%;
    width: 100%;
    display: table;
}

.wrapper {
    display: table-cell;
    height: 100%;
    vertical-align: middle;
}   

.wrapper > div {
    max-width: 1000px;
    min-width: 300px;
    margin: 0 auto;
}

body {
    margin-top: 0;
    font-family: sans-serif;
}