<!doctype html>
<html>
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="icon" type="image/x-icon" href="/public/images/favicon.ico">
    <link rel="stylesheet" href="/public/css/base.css">
    <link rel="stylesheet" href="/public/css/home.css">
  </head>
  <body>
    <!-- flash is used for messages like "Indexing..." -->
    <div class="flash hidden"></div>

    <div class="main">
      <div class="wrapper">
        <div>
          <div>
            <img src="/public/images/logo.png" class="logo" alt="Datahen Canada Inc." />
          </div>
          <h1>CONGRATULATIONS! YOU FINISHED!</h1>
          <div class="description">You can send the output file now :)</div>
        </div>
      </div>
    </div>
  </body>
</html>
