<!doctype html>
<html>
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="stylesheet" href="/public/css/home.css">
  </head>
  <body>
    <div class="main">
      <div class="wrapper">
        <div>
          <img src="/public/images/datahen.png" class="logo" alt="Datahen Canada Inc." />
        </div>
        <h1>Welcome to Match QA</h1>
        <div class="description">Press start to begin</div>
        <div class="options">
          <a href="/qa/compare/{{pos}}" class="button">
            START
          </a>
        </div>
      </div>
    </div>
  </body>
</html>
